.pagetitle {
    font-size: 1.7rem;
    padding: 0.5rem 0;
    width: 70rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    background: linear-gradient(90deg, rgb(63, 60, 220) 0%, rgb(40, 0, 70)100%);
    border-radius: 6px;
    color: white;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.btn {
    color:rgb(36, 121, 121)    
}

.btn1 {
    color:rgb(215, 32, 154)    
}

.city-input {
    background-color: rgb(255, 228, 170);
}

section{
    border: 1px solid red;

}

div {
    border: 1px solid blue
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#left {
    width: 30%;
    padding: 10px;
}

#right {
    width: 60%;
    padding: 10px;

}

#forecastWeather {
    display: flex;
    flex-direction: row;
    
}

.days {
    width: 20%;
    padding: 10px
}